<div class="content-wrapper align-items-center justify-content-center">
    <div class="container-fluid">

        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-6 mt-3">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title" style="text-align: center;">Add Product</div>
                        <hr>
                        <form>
                            <div class="form-group">
                                <label for="input-6">Name</label>
                                <input type="text" class="form-control form-control-rounded" id="input-6"
                                    placeholder="Enter Your Name">
                            </div>
                            <div class="form-group">
                                <label for="input-7">Cost Price</label>
                                <input type="text" class="form-control form-control-rounded" id="input-7"
                                    placeholder="Enter Your Email Address">
                            </div>
                            <div class="form-group">
                                <label for="input-7">Selling Price</label>
                                <input type="text" class="form-control form-control-rounded" id="input-7"
                                    placeholder="Enter Your Email Address">
                            </div>
                            <div class="form-group">
                                <label for="input-8">Description</label>
                                <input type="text" class="form-control form-control-rounded" id="input-8"
                                    placeholder="Enter Your Mobile Number">
                            </div>
                            <div class="form-group">
                                <label for="input-9">Images</label>
                                <input type="file" class="form-control form-control-rounded" id="input-9"
                                    placeholder="Enter Password">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-light btn-round px-5 float-end"><i class="icon-lock"></i>
                                    {{ addProduct }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!--start overlay-->
        <div class="overlay toggle-menu"></div>
        <!--end overlay-->

    </div>
    <!-- End container-fluid-->

</div>
<!--End content-wrapper-->